/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
